#spinner {
  background-color: aliceblue;
  height: 1000vh;
  background: url("1486.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  z-index: 9999;
}

.heading {
  color: #74959a;
}

.header2 {
  color: #74959a;
}

.brand {
  color: #6867ac;
}
.feature-text {
  color: #21325e;
}

.features {
  color: #21325e;
}
